.app{
    height: 100vh;
    width: 100%;
    .sections{
        height: calc(100vh - 70px);
        width: inherit;
        background-color: lightsalmon;
        position: relative;
        top: 70px;
        overflow-y: scroll;
        scroll-behavior: smooth;
        scroll-snap-type: y mandatory;
        scrollbar-width: none;
        &::-webkit-scrollbar{
            display: none;
        }
        > *{
            width: inherit;
            height: inherit;
            scroll-snap-align: start;
        }
    }
}